.env
*.env
docker-compose.yml
docker-compose.dev.yml
frontend/.env

/api/app
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/api/vendor/

/mysql_data/
*.sqlite3

/frontend/vendor/
/frontend/node_modules/
npm-debug.log
yarn-error.log

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db